# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/
*.sublime-workspace

# Environment
.env
.env.local
.env.*.local
